<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<body>
    <header></header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="#Ofertas">Ofertas</a></li>
            <li><a href="#Tiendas">Tiendas Oficiales</a></li>
            <li><a href="#Vender">Vender</a></li>
            <li><a href="#Ayuda">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#CreáTuCuenta">Creá tu cuenta</a></li>
            <li><a href="#Ingresá">Ingresá</a></li>
            <li><a href="#MásCompras">Más Compras</a></li>
        </ul>
        <div><img src="/images/img-home-banner.jpg" alt="Banner"></div>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>
    <footer>
        <ul style="list-style-type:none">
            <li><h3>Pagá con tarjeta o en efectivo</h3>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</li>
            <li><h3>Envío gratis desde $ 2.500</h3>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</li>
            <li><h3>Seguridad, de principio a fin</h3>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</li>
            <li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li> 
        </ul>
    </footer>
</body>
</html>