<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/createForm.css">
    <link rel="stylesheet" href="/css/response.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    
</head>
<body>
    <header class="bg-yellow">
        <div class="main-header-top-bar">

            <a href="/" class="logo">
                <img class="bg-yellow" src="/images/logo-mercado-liebre.svg" 
                alt="Logo Mercado Liebre">
            </a>

            <form class="search-bar">
                <input placeholder="Encontrá lo que estás buscando"></input>
                <a href=#><button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button></a>
            </form>

            <div class="frase"><p><i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="nav-bar main-header-bottom-bar">            
            <ul class="nav-section left-navbar">
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#Tiendas">Tiendas Oficiales</a></li>
                <li><a href="./vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>
            <ul class="nav-section right-navbar">    
                <li><a href="./CreaTuCuenta">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="./login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#MásCompras">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu font-medium">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <h2>Nuevo usuari@:</h2>
    <form action="/login" method="get" class="form-product">
        <div class="control-form">
            <span class="error">*Nombre inválido</span>
            <input type="text" name="name" id="name" placeholder="Nombre y Apellido" class="control-input">
        </div>
        <div class="control-form">
            <input type="text" name="user" id="user" placeholder="Nombre de usuari@" class="control-input">
        </div>
        <div class="control-form">
            <label for="birth">Fecha de Nacimiento:</label>
            <input type="date" name="birth" id="birth" class="control-input">
        </div>
        <div class="control-form">
            <input type="text" name="direction" id="direction" placeholder="Domicilio" class="control-input">
        </div>
        <div class="control-form">
            <label for="profile">Perfil de usuario: </label>
            <div class="selector">
                    <label for="buyer"><input name="profile" value="buyer" type="radio" id="buyer">Comprador</label>
                    <label for="seller"><input name="profile" value="seller" type="radio" id="seller">Vendendor</label>
            </div>
        </div>
        <div class="control-form">
            <label>Categorías de interés: </label>
            <div class="selector">
                <label for="electro"><input type="checkbox" name="interes" id="electro" value="Electro">Electro</label>
                <label for="moda"><input type="checkbox" name="interes" id="moda" value="Moda">Moda</label>
                <label for="hogar"><input type="checkbox" name="interes" id="hogar" value="Hogar">Hogar</label>
                <label for="jugueteria"><input type="checkbox" name="interes" id="jugueteria" value="Juguetería">Juguetería</label>
                <label for="vidasana"><input type="checkbox" name="interes" id="vidasana" value="Vida-Sana">Vida Sana</label>
            </div>
        </div>
        <div class="control-form">
            <label for="fotoPerfil"class="sub-categoria">Foto de Perfil: 
                <input type="file" name="fotoPerfil" id="fotoPerfil" accept=".jpg, .png" class="control-input">
            </label>
        </div>
        <div class="control-form">
            <input type="password" name="password" id="password" placeholder="Contraseña" class="control-input">
        </div>
        <div class="control-form">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña"  class="control-input">
        </div>
        <div class="buttons">
            <button type="submit" class="b-color">Registrate</button>
            <button type="reset" class="b-color">Eliminar Todo</button>
        </div>
    </form>
    </main>
    <footer>
        <section>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h3 class="font-big">Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift"></i>
                <h3 class="font-big">Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h3 class="font-big">Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>