/*TABLET*/

@media(min-width: 768px){

    .burger-menu{
        display: none;
    }

    .main-header-top-bar{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .logo{
        max-width: 25%;
    }

    .search-bar{
        max-width: 40%;
    }

    .main-header-bottom-bar ul{
        display: flex;
        justify-content:flex-start;
        width: 100%;
    }

    .nav-bar{
        display: flex;
        align-items: center;
    }

    .left-navbar{
        align-self: flex-end;
    }

    /* ---ARTICLES--- */

    .descripcion{
        display: none;
    }

    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main section article{
        width: 40%;
        box-shadow: 8px 8px 22px -12px rgba(66,66,66,0.4);
    }
} 

/* DESKTOP */
@media(min-width: 1200px){
    main section article{
        width: 20%;
    }
}
