/*TABLET*/
@media(min-width: 481px){

    .burger-menu{
        display: none;
    }

    .main-header-top-bar{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }

    .logo{
        max-width: 25%;
    }

    .search-bar{
        max-width: none;
        flex-grow: 2;
    }
    
    .frase{
        max-width: 150px;
        text-align: right;
    }

    .nav-bar{
        display: flex;
        align-items: center;
    }

    /* ---ARTICLES--- */

    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main section article{
        width: 40%;
        box-shadow: 5px 10px 8px -12px rgba(66,66,66,0.4);
    }

    footer article{
        line-height: 24px;
    }
} 

/* DESKTOP */
@media(min-width: 769px){

    header{
        padding-bottom: 0%;
    }

    body{
        font-size: 18px;
    }

    .main-header-bottom-bar{
        font-size: 16px;
    }

    main section article{
        width: 20%;
        box-shadow: none;
        transition: all 450ms;
    }

    main section article:hover{
        box-shadow: 8px 8px 22px -12px rgba(66,66,66,0.4);
        opacity: 1;
    }
    
    .descripcion{
        opacity: 0;
        transition: all 450ms;
    }
    
    main section article:hover .descripcion{
        opacity: 1;
    }

    .fa-truck:hover{
        transform: rotate(-90deg);
    }

    .control-form{
        font-size: 20px;
    }  

    main button{
        width: auto;
        font-size: 24px;
        flex-grow: 1;
        margin: 2% 0.5%;
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .frase{
        max-width: 210px;
    }

    footer section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer section article{
        margin: 0;
        font-size: 14px;
        max-width: 30%;
        margin: 0%;
        text-align: center;
    }

    footer section article i{
            transition: all 450ms;
    }

    footer section article:hover i{
        color: #0022AA;
    }

    .form-product{
        margin-left: 15%;
        margin-right: 15%;
    }

}
