
@media(min-width: 361px){
    .nav-bar{
        display: block;
        padding-bottom: 5%;
    }

    .descripcion{
        display: block;
    }
    main section article{
        box-shadow: 8px 8px 22px -12px rgba(66,66,66,0.4);
    }

    .burger-menu{
        display: none;
    }

    .main-header-top-bar{
        justify-content: space-around;
    }
    
}

@media(min-width: 769px){

    
}
