/*TABLET*/

@media(min-width: 882px){

    body{
        font-size: 20px;
    }

    .burger-menu{
        display: none;
    }

    .main-header-top-bar{
        width: 100%;
    }

    .logo{
        max-width: 25%;
    }

    .search-bar{
        max-width: none;
        flex-grow: 2;
    }
    
    .frase{
        max-width: 300px;
        text-align: right;
    }

    .main-header-bottom-bar{
        font-size: 20px;
    }

    .nav-bar{
        display: flex;
        align-items: center;
    }

    /* ---ARTICLES--- */

    .descripcion{
        display: none;
    }

    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main section article{
        width: 40%;
        box-shadow: 8px 8px 22px -12px rgba(66,66,66,0.4);
    }

    footer article{
        line-height: 24px;
    }
} 

/* DESKTOP */
@media(min-width: 1200px){
    main section article{
        width: 20%;
        box-shadow: none;
    }

    main section article:hover{
        box-shadow: 8px 8px 22px -12px rgba(66,66,66,0.4);
    }
}
