* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.center {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

main{
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}

main article{
    margin-bottom: 10px;
}

nav {
    padding-left: 2%;
}

section{
    margin-top: 20px;
}


/* ------------------ TYPO & BACKGROUND COLOR ------------------ */ 

.font-heading {
    font-size: 24px;
}

.font-big {
    font-size: 18px;
}

.font-medium{
    font-size: 16px;
}

.font-blue{
    color:#03264C;
}
.bg-blue{
    background-color: #03264C;
}

.font-light-blue{
    color:#1259c3;
}
.bg-light-blue{
    background-color: #1259c3;
}

.font-yellow{
    color:#EAC926;
}
.bg-yellow{
    background-color: #EAC926;
}

.font-grey{
    color:#666;
}
.bg-grey{
    background-color: #666;
}

.font-light-grey{
    color:#ebebeb;
}
.bg-light-grey{
    background-color: #ebebeb;
}

.font-green{
    color:#39b54a;
}
.bg-green{
    background-color: #39b54a;
}

/* ------------------ SECCIONES ------------------ */ 

header{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

/* ------------------ TOP BAR ------------------ */ 

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.logo{
    min-width: 20%;
    max-width: 150px;
}

.search-bar{
    display: flex;
    height: 2.5em;
    align-items:center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    margin: 3%;
    padding: 2%;
}

.search-bar input{
    align-self: center;
    text-align: start;
    display: block;
    border: solid white 1px;
    background-color: none;
    min-width: 200px;
    flex-grow: 1;
}

.button-search{
    border: solid white 1px;
    border-left: solid rgba(0, 0, 0, 0.16) 1px;
    background-color: white;
}

.fa-magnifying-glass{
    margin-left: 50%;
    display: block;
    color: rgba(0, 0, 0, 0.541);
}

.frase{
    padding: 10px;
    max-width: 350px;
    text-align: right;
}

/* ------------------ BOTTOM BAR ------------------ */ 

.main-header-bottom-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-bar{
    display: none;
}

.nav-section {
    display: flex;
    margin-bottom: 1em;
    padding: 0;
}
  
.nav-section li a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 3px;
}
  
.nav-section li {
    display: flex;
    list-style: none;
}

/* ------- BURGUER ---------*/

.burger-menu{
    display: block;
    width: 100%;
    margin: auto;
    align-self: baseline;
    text-align: center;
}

.burger-menu i{
    padding: 8px;
    border-radius: 5px;
    background-color: #1259c3;;
    color: #ebebeb;
}

/* ------- ARTICULOS ---------*/

.article{
    display: flex;
    justify-content: flex-start;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    
}

.precio{
    flex-grow: 0.3;
}

.descuento{
    flex-grow: 0.7;
}

.descripcion{
    width: 100%;
    padding-top: 5px;
}

.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #39b54a;
    height:30px;
    width: 30px;
    border-radius: 50px;
    right: 20px;
    top: -15px;
    position: absolute;
}

/* ------ FOOTER ---------- */

footer{
    background-color: white;
    width:100%;
    margin: auto;
    padding: 5%;
}

footer article{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    line-height: 15px;
    word-spacing: 0.5%;
    padding-bottom: 7%;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3
}

footer h3{
    margin: 0px;
    font-weight: 600;
    margin-bottom: 3px;
}
footer p{
    margin-top: 1px;
}