* {
    box-sizing: border-box;
}

h1{
    margin: 0;
}

.font-heading {
    font-size: 24px;
}

.font-big {
    font-size: 18px;
}

.font-medium{
    font-size: 16px;
}

.center {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

main{
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}

main article{
    margin-bottom: 10px;
}

nav {
    padding-left: 2%;
}

section{
    margin-top: 20px;
}

.busqueda{
    border-radius: 5px;
    height: 2em;
    width: 60%;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 10px;
    border: solid 1px black;
    max-width: 198px;
}

button{
    margin: 0;
    height: 2em;
    border-radius: 5px;
    border: solid 1px black;
    touch-action: pinch-zoom;
}

button:active{
    background-color: #d1d1d1;
    transform: translateY(0.5px);
}

.fa-magnifying-glass{
    margin-left: 2px;
    margin-right: 3px;
    font-size: 1em;
}

.slogan{
    margin-top: 3px;
}

/* ------------------ TYPO & BACKGROUND COLOR ------------------ */ 

.font-blue{
    color:#03264C;
}
.bg-blue{
    background-color: #03264C;
}

.font-light-blue{
    color:#1259c3;
}
.bg-light-blue{
    background-color: #1259c3;
}

.font-yellow{
    color:#EAC926;
}
.bg-yellow{
    background-color: #EAC926;
}

.font-grey{
    color:#666;
}
.bg-grey{
    background-color: #666;
}

.font-light-grey{
    color:#ebebeb;
}
.bg-light-grey{
    background-color: #ebebeb;
}

.font-green{
    color:#39b54a;
}
.bg-green{
    background-color: #39b54a;
}

/* ------------------ SECCIONES ------------------ */ 


.main-header{
    display: flex;
    flex-wrap: wrap;
}

.nav-bar{
    display: none;
}

.nav-section {
    margin-bottom: 1em;
    padding: 0;
  }
  
.nav-section li a {
    color: black;
    text-decoration: underline;
    margin-right: 3px;
  }
  
.nav-section li {
    list-style: none;
  }

.burger-menu{
    text-align: center;
    padding-bottom: 3%;
}

.burger-menu i{
    padding: 8px;
    border-radius: 5px;
    background-color: #1259c3;;
    color: #ebebeb;
}

.article{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}

.article p{
    line-height: 10%;
}

.descripcion{
    display: none;
}

.fa-truck{
    padding-top: 0.40em;
    border: 1px solid #39b54a;
    height:2em;
    width: 2em;
    border-radius: 50px;
    text-align: center;
}

footer{
    background-color: white;
    width:100%;
    margin: auto;
    padding: 5%;
}

footer article{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    line-height: 15px;
    word-spacing: 0.5%;
    padding-bottom: 7%;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3
}

footer h3{
    margin: 0px;
    font-weight: 600;
    margin-bottom: 3px;
}
footer p{
    margin-top: 1px;
}
